<!-- Modal Experiencia -->
<div class="modal fade" id="experienciaModalAdd" tabindex="-1" aria-labelledby="experienciaModalAdd" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
          
          
    <form  [formGroup]="form" (ngSubmit)="onEnviar($event)" name="experienciaFormAdd"> 
          <!-- formulario de experiencia-->
      <div class="modal-body">
        <h5 class="modal-title" id="experienciaModalAdd" >Agregar Experiencia</h5>
              <div class="mb-3">
                <label for="empresa" class="form-label">Agregar Empresa</label>
                <input type="text" class="form-control"  formControlName="empresa" placeholder="Empresa nueva">
              </div>
              <div class="mb-3">
                  <label for="descripcion" class="form-label">Agregar Información de Cargo</label>
                  <textarea class="form-control"   rows="3" formControlName="descripcion" [ngClass]?="{'is-invalid': Descripcion.errors && Descripcion.touched, 'is-valid': !Descripcion.errors && Descripcion.touched}"></textarea>
                  <div *ngIf?="Descripcion.errors && Descripcion.touched">    
                    <p *ngIf?="Descripcion.hasError('required')" class="text-danger">
                      La descripcion es requerida.
                    </p>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="limpiar()">Limpiar</button>
                <button type="submit" class="btn btnLogin btn-dark">Agregar</button>          
              </div>

      </div>
      </form>
            
      </div>
    </div>
  </div>